<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}사이트{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/reset.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}"/>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header>
        <h1>사이트 헤더</h1>
        <div class="user-info">
            {% if user.is_authenticated %}
                {{ user.username }}님
            {% endif %}
            <nav class="ml-5">
                <ul>
                    <li><a href="{% url 'home' %}">홈</a></li>
                    <li><a href="{% url 'logout' %}">로그아웃</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- gnb navbar -->
    <nav class="main-menu">
        <ul class="gnb-wrap">
            <li class="dropdown-dep1">
                <a href="#" class="dropdown-toggle_dep1">메뉴1</a>
                <ul class="dropdown-content-dep2">
                    <li><a href="{% url 'search_web' %}">웹검색</a></li>
                    <li><a href="#">중분류2</a></li>
                </ul>
            </li>
            <li class="dropdown-dep1">
                <a href="#" class="dropdown-toggle_dep1">끼롤링</a>
                <ul class="dropdown-content-dep2">
                    <li><a href="#">중분류1</a></li>
                    <li><a href="#">중분류2</a></li>
                </ul>
            </li>
            <li class="dropdown-dep1">
                <a href="#" class="dropdown-toggle_dep1">끼롤링</a>
                <ul class="dropdown-content-dep2">
                    <li><a href="#">중분류1</a></li>
                    <li><a href="#">중분류2</a></li>
                </ul>
            </li>
            <li class="dropdown-dep1">
                <a href="#" class="dropdown-toggle_dep1">끼롤링</a>
                <ul class="dropdown-content-dep2">
                    <li><a href="#">중분류1</a></li>
                    <li><a href="#">중분류2</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <!-- <footer>
        <p>사이트 푸터</p>
    </footer> -->
</body>
</html>